.App {
  display: block;
  width: 100%;
}

html {
  font-size: 1.0vw;
}


.App-link {
  color: #0a9dc5;
}

table {
  margin: 2% auto;
  width: 80%;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1px;
  text-align: center;
}


tr:nth-child(even) {
  background-color: #dddddd;
}
